<div class="row">

    <div class="col-6">
        <h1 mat-dialog-title>Config Options</h1>
    </div>

    <div class="col-6">
        <a class="float-right" style="cursor: pointer;color:cornflowerblue"
            (click)="onRestoreConfigToDefaults()">Restore All To Default</a>
    </div>

</div>

<hr />

<mat-dialog-content>
    <div class="row">
        <div class="col-3 content-left" style="min-width: 250px;">

            <h5>General Settings</h5>
            <ul class="sideBarList">
                <li (click)="onSidebarClick('Facebook Credentials')">Facebook Credentials</li>
                <li (click)="onSidebarClick('Behavior')">Behavior</li>
                <li (click)="onSidebarClick('Text Templates')">Text Templates</li>
                <li (click)="onSidebarClick('Scheduler')">Scheduler</li>
            </ul>

            <h5>Channel Settings</h5>
            <ul class="sideBarList">
                <li (click)="onSidebarClick('General Channels Settings')">General Settings</li>
                <li (click)="onSidebarClick('Craigslist Credentials')">Craigslist Credentials</li>
                <li (click)="onSidebarClick('Livinginsider Credentials')">Livinginsider Credentials</li>
                <li (click)="onSidebarClick('Bahtsold Credentials')">Bahtsold Credentials</li>
                <li (click)="onSidebarClick('FarangMart Credentials')">FarangMart Credentials</li>

                <!-- <li (click)="onSidebarClick('Facebook Pages Channel')">Facebook Pages</li>
                <li (click)="onSidebarClick('Facebook Groups Channel')">Facebook Groups</li> -->
            </ul>

        </div>

        <div class="col-8 ">
            <form *ngIf="config" style="min-width: 500px;">
                <span *ngIf="selectedTemplate == 'Facebook Credentials' ">
                    
                    <h5>Facebook Credentials</h5>
                    <br>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" [(ngModel)]="config.facebook_email" name="facebook_email"
                            class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" [(ngModel)]="config.facebook_password" name="facebook_password"
                            class="form-control" id="pwd">
                    </div>

                    <div class="form-group">
                        <mat-checkbox [checked]="config.facebook_old_style" (change)="facebookStyleValueChange($event)">
                        </mat-checkbox>
                        <label for="pwd">Old Facebook template</label>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <label><strong>Facebook Pages</strong></label>
                            <ul>
                                <li *ngFor="let pageUrl of config.facebook_pages">{{pageUrl}} <button
                                        class="btn btn-danger" (click)="onDeletePageClick(pageUrl)">Delete</button></li>
                            </ul>
                        </div>
                        <div class="col-10">
                            <input class="form-control" #txtNewFBPageURL type="text" />
                        </div>
                        <div class="col-2">
                            <button (click)="addFaceBookPage(txtNewFBPageURL)" class="btn btn-primary">Add</button>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12">
                            <label><strong>Facebook Groups</strong></label>
                            <ul>
                                <li *ngFor="let pageUrl of config.facebook_groups">{{pageUrl}} <button
                                        class="btn btn-danger" (click)="onDeleteGroupClick(pageUrl)">Delete</button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-10">
                            <input class="form-control" #txtNewFBGroupURL type="text" />
                        </div>

                        <div class="col-2">
                            <button (click)="addFaceBookGroup(txtNewFBGroupURL)" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </span>


                <span *ngIf="selectedTemplate == 'Bahtsold Credentials' ">
                    
                    <h5>Bahtsold Credentials</h5>
                    <br>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" [(ngModel)]="config.bathsold_email" name="facebook_email"
                            class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" [(ngModel)]="config.bathsold_password" name="facebook_password"
                            class="form-control" id="pwd">
                    </div>

                </span>

                <span *ngIf="selectedTemplate == 'FarangMart Credentials' ">
                    
                    <h5>FarangMart Credentials</h5>
                    <br>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" [(ngModel)]="config.farangmart_email" name="facebook_email"
                            class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" [(ngModel)]="config.farangmart_password" name="facebook_password"
                            class="form-control" id="pwd">
                    </div>

                </span>

                <span *ngIf="selectedTemplate == 'Facebook Pages Channel' ">
                    <div class="row">
                        <div class="col-12">
                            <label><strong>Facebook Pages</strong></label>
                            <ul>
                                <li *ngFor="let pageUrl of config.facebook_pages">{{pageUrl}} <button
                                        class="btn btn-danger" (click)="onDeletePageClick(pageUrl)">Delete</button></li>
                            </ul>
                        </div>
                        <div class="col-10">
                            <input class="form-control" #txtNewFBPageURL type="text" />
                        </div>
                        <div class="col-2">
                            <button (click)="addFaceBookPage(txtNewFBPageURL)" class="btn btn-primary">Add</button>
                        </div>
                    </div>

                </span>

                <span *ngIf="selectedTemplate == 'General Channels Settings'">

                    <h5>Phone Number</h5>

                    <div class="row">
                        <div class="col-3">
                            <label for="text">Phone Extension:</label>
                        </div>

                        <div class="col-3">
                            <input type="text" [(ngModel)]="config.phone_extension" name="phone_extension"
                                class="form-control" id="phone_extension">
                        </div>

                        <div class="col-3">
                            <label for="v">Phone Number:</label>
                        </div>

                        <div class="col-3">
                            <input type="text" [(ngModel)]="config.phone_number" name="phone_number"
                                class="form-control" id="phone_number">
                        </div>
                        
                    </div>

                    <br />
                </span>

                <span *ngIf="selectedTemplate == 'Facebook Groups Channel'">

                    <div class="row">

                        <div class="col-12">
                            <label><strong>Facebook Groups</strong></label>
                            <ul>
                                <li *ngFor="let pageUrl of config.facebook_groups">{{pageUrl}} <button
                                        class="btn btn-danger" (click)="onDeleteGroupClick(pageUrl)">Delete</button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-10">
                            <input class="form-control" #txtNewFBGroupURL type="text" />
                        </div>

                        <div class="col-2">
                            <button (click)="addFaceBookGroup(txtNewFBGroupURL)" class="btn btn-primary">Add</button>
                        </div>
                    </div>

                    <br>
                </span>

                <span *ngIf="selectedTemplate == 'Craigslist Credentials'">
                    <h5>Craigslist Credentials</h5>
                    <br>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" [(ngModel)]="config.craigslist_email" name="craigslist_email"
                            class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" [(ngModel)]="config.craigslist_password" name="craigslist_password"
                            class="form-control" id="pwd">
                    </div>

                    <br>

                </span>

                <span *ngIf="selectedTemplate == 'Livinginsider Credentials'">
                    <h5>Livinginsider Credentials</h5>
                    <br>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" [(ngModel)]="config.livinginsider_email" name="livinginsider_email"
                            class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" [(ngModel)]="config.livinginsider_password" name="livinginsider_password"
                            class="form-control" id="pwd">
                    </div>

                    <br>
                </span>

                <span *ngIf="selectedTemplate == 'Text Templates'">

                    <h5>Translations</h5>

                    <div class="row">
                        <div class="col-3">Available tags</div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}title{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}beds{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}bathrooms{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}floorNumber{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}rentalPrice{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}price{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}size{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}url{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}features{{'}'}}</span></div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}phone_extension{{'}'}}</span>
                        </div>
                        <div class="col-3"><span class="badge badge-secondary">{{'{'}}phone_number{{'}'}}</span></div>
                    </div>

                    <br>

                    <div class="row" *ngFor="let lang of languages">
                        <div class="col-12">
                            <label for="" class="float-right"><strong>{{lang}} Text Template</strong></label>
                        </div>

                        <div class="col-12">
                            <textarea style="margin-bottom: 10px;" name="" id="" cols="30" rows="10"
                                class="form-control"
                                (change)="onTextTemplateChange($event,lang)">{{config[lang+'_text_template']}}</textarea>
                        </div>
                    </div>

                </span>

                <span *ngIf="selectedTemplate == 'Scheduler'">
                    <h5>Scheduler Settings</h5>
                    <br>

                    <strong>NB: Restart application for scheduler settings updates to take effect</strong>
                    <br>
                    
                    <h6>Craigslist Scheduler</h6>
                    
                    <div class="row">
                        <div class="col-12">
                            <mat-checkbox [checked]="config.criagslist_enable_scheduler"
                                (change)="enableSchedulerValueChange($event)"></mat-checkbox>
                                <label>Enable Craigslist Scheduler </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="criagslist_scheduler_cron">Craigslist Scheduler Cron</label>
                        <input type="text" [(ngModel)]="config.criagslist_scheduler_cron" name="criagslist_scheduler_cron"
                            id="criagslist_scheduler_cron" [disabled]="config?.criagslist_enable_scheduler == false">
                    </div>
                    
                    <div class="form-group" >
                        <label for="criagslist_scheduler_cron">Craigslist Post Expiry Time (In DAYS)</label> 
                        <input type="number" min="1" max="30" [disabled]="config?.criagslist_enable_scheduler == false" [(ngModel)]="config.criagslist_post_expiry_time" name="criagslist_post_expiry_time" id="criagslist_post_expiry_time">
                    </div>

                    <div class="form-group" >
                        <label for="criagslist_postings_per_trigger"Craigslist >How much posts to post on each cron tiger ? </label> 
                        <input type="number" min="1" max="356" [disabled]="config?.criagslist_enable_scheduler == false" [(ngModel)]="config.criagslist_postings_per_trigger" name="criagslist_postings_per_trigger" id="criagslist_postings_per_trigger">
                    </div>


                    

                    <div class="form-group">
                        <button class="btn btn-warning" (click)="onTriggerCronClick()">Trigger Cron Craigslist</button>
                    </div>


                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <mat-checkbox [checked]="config.bathsold_enable_scheduler"
                                (change)="enableBathSoldSchedulerValueChange($event)"></mat-checkbox>
                                <label>Enable BahtSold Scheduler </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bathsold_scheduler_cron">Bahtsold Scheduler Cron</label>
                        <input type="text" [(ngModel)]="config.bathsold_scheduler_cron" name="bathsold_scheduler_cron"
                            id="bathsold_scheduler_cron" [disabled]="config?.bathsold_enable_scheduler == false">
                    </div>
                    
                    <div class="form-group" >
                        <label for="bathsold_scheduler_cron">Bahtsold Post Expiry Time (In DAYS)</label> 
                        <input type="number" min="1" max="30" [disabled]="config?.bathsold_enable_scheduler == false" [(ngModel)]="config.bathsold_post_expiry_time" name="bathsold_post_expiry_time" id="bathsold_post_expiry_time">
                    </div>

                    <div class="form-group" >
                        <label for="bathsold_postings_per_trigger"Bathsold >How much posts to post on each cron tiger ? </label> 
                        <input type="number" min="1" max="356" [disabled]="config?.bathsold_enable_scheduler == false" [(ngModel)]="config.bathsold_postings_per_trigger" name="bathsold_postings_per_trigger" id="bathsold_postings_per_trigger">
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <mat-checkbox [checked]="config.farangmart_enable_scheduler"
                                (change)="enableFarangMartSchedulerValueChange($event)"></mat-checkbox>
                                <label>Enable FarangMart Scheduler </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="farangmart_scheduler_cron">FarangMart Scheduler Cron</label>
                        <input type="text" [(ngModel)]="config.farangmart_scheduler_cron" name="farangmart_scheduler_cron"
                            id="farangmart_scheduler_cron" [disabled]="config?.farangmart_enable_scheduler == false">
                    </div>
                    
                    <div class="form-group" >
                        <label for="farangmart_scheduler_cron">FarangMart Post Expiry Time (In DAYS)</label> 
                        <input type="number" min="1" max="30" [disabled]="config?.farangmart_enable_scheduler == false" [(ngModel)]="config.farangmart_post_expiry_time" name="farangmart_post_expiry_time" id="farangmart_post_expiry_time">
                    </div>

                    <div class="form-group" >
                        <label for="farangmart_postings_per_trigger"FarangMart >How much posts to post on each cron tiger ? </label> 
                        <input type="number" min="1" max="356" [disabled]="config?.farangmart_enable_scheduler == false" [(ngModel)]="config.farangmart_postings_per_trigger" name="farangmart_postings_per_trigger" id="farangmart_postings_per_trigger">
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <mat-checkbox [checked]="config.livinginsider_enable_scheduler"
                                (change)="enableLivingInsiderSchedulerValueChange($event)"></mat-checkbox>
                                <label>Enable LivingInsider Scheduler </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="livinginsider_scheduler_cron">LivingInsider Scheduler Cron</label>
                        <input type="text" [(ngModel)]="config.livinginsider_scheduler_cron" name="livinginsider_scheduler_cron"
                            id="livinginsider_scheduler_cron" [disabled]="config?.livinginsider_enable_scheduler == false">
                    </div>
                    
                    <div class="form-group" >
                        <label for="livinginsider_scheduler_cron">LivingInsider Post Expiry Time (In DAYS)</label> 
                        <input type="number" min="1" max="30" [disabled]="config?.livinginsider_enable_scheduler == false" [(ngModel)]="config.livinginsider_post_expiry_time" name="livinginsider_post_expiry_time" id="livinginsider_post_expiry_time">
                    </div>

                    <div class="form-group" >
                        <label for="livinginsider_postings_per_trigger"LivingInsider >How much posts to post on each cron tiger ? </label> 
                        <input type="number" min="1" max="356" [disabled]="config?.livinginsider_enable_scheduler == false" [(ngModel)]="config.livinginsider_postings_per_trigger" name="livinginsider_postings_per_trigger" id="livinginsider_postings_per_trigger">
                    </div>

                    <hr>

                    <div class="row">
                    
                        <div class="col-12">
                            <mat-checkbox [checked]="config.facebookpages_enable_scheduler"
                                (change)="enableFacebookPagesSchedulerValueChange($event)"></mat-checkbox>
                                <label>Enable FacebookPages Scheduler </label>
                        </div>
                    
                    </div>

                    <div class="form-group">
                        <label for="facebookpages_scheduler_cron">FacebookPages Scheduler Cron</label>
                        <input type="text" [(ngModel)]="config.facebookpages_scheduler_cron" name="facebookpages_scheduler_cron"
                            id="facebookpages_scheduler_cron" [disabled]="config?.facebookpages_enable_scheduler == false">
                    </div>
                    
                    <div class="form-group" >
                        <label for="facebookpages_scheduler_cron">FacebookPages Post Expiry Time (In DAYS)</label> 
                        <input type="number" min="1" max="30" [disabled]="config?.facebookpages_enable_scheduler == false" [(ngModel)]="config.facebookpages_post_expiry_time" name="facebookpages_post_expiry_time" id="facebookpages_post_expiry_time">
                    </div>

                    <div class="form-group" >
                        <label for="facebookpages_postings_per_trigger"FacebookPages >How much posts to post on each cron tiger ? </label> 
                        <input type="number" min="1" max="356" [disabled]="config?.facebookpages_enable_scheduler == false" [(ngModel)]="config.facebookpages_postings_per_trigger" name="facebookpages_postings_per_trigger" id="facebookpages_postings_per_trigger">
                    </div>


                </span>
                
                <span *ngIf="selectedTemplate == 'Behavior'">
                    <h5>Config Behavior</h5>
                    <br>

                    <div class="form-group">
                        <label for="chrome_executable_path">Chrome Executable Path:</label>
                        <input type="email" [(ngModel)]="config.chrome_executable_path" name="chrome_executable_path"
                            class="form-control" id="chrome_executable_path">
                    </div>

                    <div class="form-group">
                        <label for="navigation_timeout">Navigation Timeout:</label>
                        <input type="email" [(ngModel)]="config.navigation_timeout" name="navigation_timeout"
                            class="form-control" id="navigation_timeout">
                    </div>

                    <div class="row">
                        <div class="col-10">
                            <mat-checkbox [checked]="config.headless" (change)="headlessValueChange($event)">
                            </mat-checkbox>
                            <label>Headless</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10">
                            <mat-checkbox [checked]="config.post_immediately"
                                (change)="postImmediatelyValueChange($event)"></mat-checkbox>
                                <label>Post Immediately</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10">
                            <mat-checkbox [checked]="config.close_browser" (change)="closeBrowserValueChange($event)">
                            </mat-checkbox>
                            <label>Close Browser</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-checkbox [checked]="config.post_in_sequential_order"
                                (change)="postInSequentialOrderValueChange($event)"></mat-checkbox>
                                <label>Post In Sequential Order (Chain avoids opening multiple browsers)</label>
                        </div>
                    </div>

                    
                </span>

            </form>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
        <div class="col-12">
            <div class="float-right">
                <button class="btn mat-raised-button" (click)="close()">Close</button> &nbsp;&nbsp;

                <button class="btn mat-raised-button mat-primary" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>