:host {
  
}

.post{
    margin: 50px;
    padding: 20px;
    border-color: gainsboro;
    border-radius: 5px;
    border-style: solid;
}

.post h4{
    margin-top: 10px;
}

.btn-danger{
    margin-left: 5px;
}
