<h1 mat-dialog-title>
    {{ isLoading ? ('Loading ( '+loadingProgress+'/'+numberSelectedChannels + ')') : 'Channel Selection' }}</h1>
<hr />
<span *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</span>

<span *ngIf="isLoading == false">
    <mat-dialog-content>
        <form>

            <div class="row">
                <div class="col-12" *ngFor="let channel of channels">
                    <label for="">{{channel.name}}</label>
                    <mat-checkbox [checked]="channel.selected" (change)="channel.selected = !channel.selected">
                    </mat-checkbox>
                </div>
            </div>

        </form>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <div class="float-right">
                    <button class="btn mat-raised-button" (click)="close()">Close</button> &nbsp;&nbsp;
                    <button class="btn mat-raised-button mat-primary" (click)="onPostClick()">Post</button>
                </div>
            </div>
        </div>

    </mat-dialog-actions>


</span>