<h1 mat-dialog-title>
    {{ isLoading ? ('Loading ( '+loadingProgress+'/'+numberSelectedChannels + ')') : 'Channel Selection' }}</h1>
<hr />

<span *ngIf="isLoading === true">
    <mat-spinner></mat-spinner>
</span>

<span *ngIf="isLoading === false">
    <mat-dialog-content>
        <form>

            <div class="row">
                <div class="col-12">
                    <h6>Channel Selection</h6>
                </div>
                <div class="col-12" *ngFor="let channel of channels">
                    <label for="">{{channel.name}}</label>
                    <mat-checkbox [checked]="channel.selected" (change)="channel.selected = !channel.selected">
                    </mat-checkbox>
                    <div class="row" *ngIf="channel.cities && channel.selected">
                        <div class="col-3" *ngFor="let city of channel.cities">
                            <label for="">{{city.name}}</label>
                            <mat-checkbox [checked]="city.selected" (change)="city.selected = !city.selected">
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">

                <div class="col-6">
                    <h5>Settings</h5>
                </div>
                <hr />
                <div class="col-6">
                    <button class="btn btn-warning float-right" (click)="showSettings=!showSettings">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="col-12" *ngIf="showSettings">
                    <label>Language</label>
                    <select (change)="onTextLangChange($event)">
                        <option [value]="lang" *ngFor="let lang of languages">{{lang}}</option>
                    </select>
                </div>


                <div class="col-3" *ngIf="showSettings">
                    <label for="" class="float-right">Text Template</label>
                </div>

                <div class="col-9" *ngIf="showSettings">
                    <textarea [(ngModel)]="currentLangTextTemplate" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>

            </div>

        </form>
    </mat-dialog-content>
</span>

<mat-dialog-actions>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
        <div class="col-12">
            <div class="float-right">
                <button class="btn mat-raised-button" (click)="close()">Close</button> &nbsp;&nbsp;
                <button class="btn mat-raised-button mat-primary" (click)="onPostClick()">Post</button>
            </div>
        </div>
    </div>

</mat-dialog-actions>